<h4 class="legend">Overview</h4>

<div class="content">
    <p>One demo dataset is provided for users to learn how to use MetDNA. 
      The demo dataset is the dataset No.2 in our MetDNA publication, 
      which has two groups of liver tissues from aging mouse (24-week vs. 78-week, n=10 in each group, c57BL/6J). 
      The details for sample preparation and data acquisition can be found in our publication. 
      The data acquisition was performed in Sciex TripleTOF 6600.
    </p>
</div>

<h4 class="legend">Details</h4>
<div class="content">
    <p>
      In each ionization polarity, a total of 24 raw MS files (.wiff) 
      are processed to generate the MS1 peak table, and provided in three groups:
    </p>
    <ul>
      <li>
          Group“24W”:  liver24_1 to liver24_10 (n=10)
      </li>
      <li>
          Group“78W”:  liver78_1 to liver78_10 (n=10)
      </li>
      <li>
          Group“QC”:   QC01 to QC04 (n=4)
      </li>
    </ul>

    <br>
    <p>
        In each ionization polarity, 6 raw MS2 files (.wiff) are the MS2 data, and named as:
    </p>
    <ul>
      <li>
          QC60-300Da_(POS or NEG)_1
      </li>
      <li>
          QC60-300Da_(POS or NEG)_2
      </li>
      <li>
          QC290-600Da_(POS or NEG)_3
      </li>
      <li>
          QC290-600Da_(POS or NEG)_4
      </li>
      <li>
          QC590-1200Da_(POS or NEG)_5
      </li>
      <li>
          QC590-1200Da_(POS or NEG)_6
      </li>
    </ul>

    <br>
    <p>
      <b>Note:</b> To expand the coverage of MS2 spectra, 
      we divided the mass range into 3 segments, 50-300 Da, 290-600 Da and 590-1200 Da for MS2 data acquisition.
    </p>

    <br>
    <p>
      <b>Processing parameters for MetDNA</b>
    </p>
    <p>
        Please follow the instructions in <a href="/help">help page</a> to upload data files to MetDNA. 
        Processing parameters for demo data are set as following:
    </p>
    <div style="width: 42%; margin: 0 auto">
      <img class="fig" src="/assets/help/help-fig9-parameter-setting.png">
    </div>

    <br>
    <p><b>Click <a href="/media/public-data/MetDNA.analysis.report.html" target="_blank">here</a> to see the summary report for demo data</b></p>
</div>

<h4 class="legend"><a name="download" href="/demo#download">Download</a></h4>
<div class="content">
    <p><b>The mzXML files can be downloaded from MetaboLight:</b></p>
    <ul>
      <li>
          Project ID for positive mode: MTBLS601 (<a href="https://www.ebi.ac.uk/metabolights/MTBLS601" target="_blank">https://www.ebi.ac.uk/metabolights/MTBLS601</a>)
      </li>
      <li>
          Project ID for negative mode: MTBLS606 (<a href="https://www.ebi.ac.uk/metabolights/MTBLS606" target="_blank">https://www.ebi.ac.uk/metabolights/MTBLS606</a>)
      </li>
    </ul>

    <p><b>The“MetDNA Demo Files” zip file can be downloaded <a href="/media/public-data/MetDNA Demo Files.zip">here</a></b>. 
      The zip folder is organized like this:
    </p>
    <div style="width: 50%; margin: 0 auto">
      <img class="fig" src="/assets/demo-data-structure.png">
    </div>

    <p><b>Click <a href="/media/public-data/MetDNA Demo Files Results.zip">here</a> to download the analysis result for demo data.</b></p>
    
    
</div>