<div id="introduction">
  <div>
    <h3>Welcome to MetDNA Web Server</h3>
  </div>

  <br>

  <p>
    <b>Overview of MetDNA:</b> 
    Created in 2018 by Xiaotao Shen, Xin Xiong and Ruohong Wang from Dr. Zheng-Jiang Zhu lab, Chinese Academy of Sciences.
  </p>

  <p>
      Metabolite identification is the long-standing challenge for 
      liquid chromatography-mass spectrometry (LC-MS)-based untargeted metabolomics. 
      Here, we developed MetDNA (<b><u>Met</u></b>abolite identification and <b><u>D</u></b>ysregulated <b><u>N</u></b>etwork <b><u>A</u></b>nalysis) 
      for the large-scale and ambiguous identification of metabolites from LC-MS/MS data sets. 
      Users can simply import MS1 peak table, MS/MS data and sample information to perform 
      metabolite identification and dysregulated metabolic pathway analysis. 
      MetDNA implements a metabolic reaction network (MRN) based recursive algorithm 
      for metabolite identification, which supports data from 
      different LC systems (e.g., HILIC and reverse phase) and 
      MS platforms (e.g., Agilent QTOF, Sciex TripleTOF, Thermo Orbitrap, and others).
  </p>

  <p>Please click Analysis tab to start your MetDNA journey!</p>

  <div style="width: 90%; margin: 0 auto">
    <img class="fig" src="/assets/workflow.png">
  </div>
</div>

<h4 class="legend">Important Notes</h4>
<div class="content">
  <ol>
    <li>
      <p>MetDNA only supports LC-MS based untargeted metabolomics data acquired 
      from high resolution Time-of-Flight (TOF) and Orbitrap instruments.</p>
    </li>
    <li>
      <p>MS/MS data are required for the metabolite identification, 
      and the collision energy (CE) must be carefully considered. Check the options from “Set Parameters”.</p>
    </li>
    <li>
      <p>MS/MS data from different data acquisition methods such as data dependent 
      acquisition (DDA), data independent acquisition (DIA) or targeted MS2 
      acquisition are all supported by MetDNA.</p>
    </li>
  </ol>
</div>

<h4 class="legend">News</h4>
<div class="content">
    <p>Dec. 30, 2017: Website online</p>
    <p>Jan. 25, 2018: v1.0 release</p>
    <p>Sep. 12, 2018: v1.1 release</p>
</div>

<h4 class="legend">Reference</h4>
<div class="content">
  X. Shen, R. Wang, X. Xiong, Z.-J. Zhu *(Corresponding author), Large-scale Metabolite 
  Identification for Untargeted Metabolomics Using Metabolic Reaction Network, 2018, Submitted.
</div>

<h4 class="legend">Relevant Links</h4>
<div class="content">
    <ol>
      <li>
        Zhu Lab
      </li>
      <p><a href="http://www.zhulab.cn" target="_blank">http://www.zhulab.cn</a></p>
      <li>
        KEGG
      </li>
      <p><a href="http://www.kegg.jp" target="_blank">http://www.kegg.jp</a></p>
    </ol>
</div>